@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresentacionMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PresentacionMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if(Context.Session.GetString("user") != null)
            {
            <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <li class="nav-item dropdown list-unstyled">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Configuracion descripcion
                                        </a>
                                        <ul class="dropdown-menu">
                                        
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Cabania" asp-action="CambiarConfiguracion">Cabania</a>
                                        </li>
                                        </ul>
                                    </li>
                            </div>
                        </div>
                    </nav>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cabania" asp-action="Create">Crear Cabaña</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCabania" asp-action="Create">Crear Tipo Cabaña</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCabania" asp-action="Index">Listar Tipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCabania" asp-action="FindOne">Busqueda Tipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCabania" asp-action="FindOne" asp-route-accion="Eliminar">Eliminar Tipo</a>
                        </li>       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCabania" asp-action="FindOne" asp-route-accion="Editar">Modificar Tipo</a>
                        </li>                  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cabania" asp-action="BusquedaFiltros">Busqueda Por Filtros</a>
                        </li>               
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mantenimiento" asp-action="Index">Listar Mantenimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mantenimiento" asp-action="FindByDate">Busqueda de Mantenimientos</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Mantenimiento" asp-action="Create">Crear Mantenimientos</a>
                            </li>
                    </ul>
                </div>
            
                <a class="navbar-brand" asp-area="" asp-controller="Usuario" asp-action="Logout">LogOut</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PresentacionMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
