@model PresentacionMVC.Models.BusquedaCabaniaViewModal

@{
    ViewData["Title"] = "BusquedaFiltros";
}

<h1>BusquedaFiltros</h1>

<h4>Cabania</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BusquedaFiltros">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Habilitada" /> @Html.DisplayNameFor(model => model.Habilitada)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoID" class="control-label">Tipo Cabaña</label>
                <select asp-for="TipoID" asp-items="@(new SelectList(Model.TiposCabania, "Id", "Nombre"))" class="form-control">
                    <option>Seleccione una opcion</option>
                </select>
                <span asp-validation-for="TipoID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Mantenimiento" asp-action="Create"> Ingresar Mantenimiento</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
