@model PresentacionMVC.Models.AltaCabaniaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cabania</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cabaniaNueva.Nombre" class="control-label"></label>
                <input asp-for="cabaniaNueva.Nombre" class="form-control" />
                <span asp-validation-for="cabaniaNueva.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cabaniaNueva.Descripcion" class="control-label"></label>
                <input asp-for="cabaniaNueva.Descripcion" class="form-control" />
                <span asp-validation-for="cabaniaNueva.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoCabania" class="control-label">Tipo Cabaña</label>
                <select asp-for="idTipoCabania" asp-items="@(new SelectList(Model.tiposCabania, "Id", "Nombre"))" class="form-control">
                    <option>Seleccione una opcion</option>
                </select>
                <span asp-validation-for="idTipoCabania" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cabaniaNueva.Jacuzzi" /> @Html.DisplayNameFor(model => model.cabaniaNueva.Jacuzzi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cabaniaNueva.Habilitada" /> @Html.DisplayNameFor(model => model.cabaniaNueva.Habilitada)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="cabaniaNueva.Numero" class="control-label"></label>
                <input asp-for="cabaniaNueva.Numero" class="form-control" />
                <span asp-validation-for="cabaniaNueva.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cabaniaNueva.CantidadPersonas" class="control-label"></label>
                <input asp-for="cabaniaNueva.CantidadPersonas" class="form-control" />
                <span asp-validation-for="cabaniaNueva.CantidadPersonas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
